body {
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
  margin-bottom: 0;
}


button {
  border: 1px solid #00B7FF;
  padding: 5px 7px;
  border-radius: 3px;
}

a {
  color: #00B7FF;
}

a:hover {
  border-bottom: 1px solid blue;
  padding-bottom: 3px;
}

main {
  padding: 50px;
}




/*  N A V   S T Y L I N G  */
nav {
  display: flex;
  justify-content: flex-end;
}

nav a {
  text-decoration: none;
  border: 1px solid #00B7FF;
  padding: 5px 7px;
  border-radius: 2px;
  margin: 10px;
  
}

nav a:hover {
  border: 1px solid blue;
}

.active {
  background-color: #00B7FF;
  color: white;
  border: 1px solid blue;
}

a {
  text-decoration: none;
}


/*  C O N T E N T   S T Y L I N G  */

.no-info {
  display: block;
  background-color: #00B7FF;
  opacity: .7;
  text-align: center;
  width: 50em;
  padding: 5px 0;
  color: white;
  border-radius: 5px;
  margin: 10px auto;
  width: 90%;
}

#scheduled {
  text-align: left;
}


.flight {
  width: 90%;
  margin: 0 auto;
  position: relative;
}

hr {
  border: 0;
  height: 2px;
  background-color: #00B7FF;
}

.details {
  text-decoration: none;
  border: 1px solid #00B7FF;
  padding: 5px 7px;
  border-radius: 2px;
  margin: 10px;
  position: absolute;
  right: 0;
  top: 0;
}

.details:hover {
  border: 1px solid blue;
}

/*  F O R M   S T Y L I N G  */


form {
  background-color: rgb(1, 1, 136);
  border-radius: 6px;
  width: 50em;
  margin: 15px auto;
}

form h2 {
  color: white;
  padding: 25px 0 0 0;
}

label {
  color: white;
  align-self: flex-start;
  padding-bottom: 7px;
  font-size: 14px;
  letter-spacing: .06em;
}

input {
  width: 500px;
  padding: 5px;
  font-size: 18px;
  letter-spacing: .06em;
}

form div{
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  justify-content: center;
  align-items: center;
}

form button {
  align-self:  flex-end;
  margin: 35px;
}


@media screen and (max-width: 800px) {
  form {
    width: 100%;
  }

  input {
    width: 250px;
  }
}

/*  D E S T I N A T I O N S   S T Y L I N G  */



.destinations {
  background-color: rgb(160, 226, 252);
  padding: 10px;
  border-radius: 7px;
  margin: 5px auto;
}

.destinations h3 {
  color: white;
}


.ticket {
  background:#00B7FF;
  padding: 10px;
  border-radius: 7px;
  margin: 5px 0;
  position: relative;
}

.ticket button{
  position: absolute;
  top: 10px;
  right: 10px;
  border: 1px solid white;
  background: transparent;
  color: white;
}